:root {
    --main-accent: #473b2a;
    --second-accent: #e3b025;
    --third-accent: #ffeddf;
    --fourth-accent: #0d1321;
    --greyscalewhite: #adadad;
    --main-style-font-family: "Mogilte", Helvetica;
    --main-style-font-weight: 400;
    --main-style-font-size: 24px;
    --main-style-letter-spacing: 0px;
    --main-style-line-height: normal;
    --main-style-font-style: normal;
    --secondary-style-font-family: "Bogart Trial", Helvetica;
    --secondary-style-font-weight: 400;
    --secondary-style-font-size: 16px;
    --secondary-style-letter-spacing: 0px;
    --secondary-style-line-height: normal;
    --secondary-style-font-style: normal;
    --brand-1-font-family: "Arsenica Trial", Helvetica;
    --brand-1-font-weight: 600;
    --brand-1-font-size: 38px;
    --brand-1-letter-spacing: 0px;
    --brand-1-line-height: normal;
    --brand-1-font-style: normal;
    --brand-2-font-family: "Sacramento", Helvetica;
    --brand-2-font-weight: 400;
    --brand-2-font-size: 40px;
    --brand-2-letter-spacing: 0px;
    --brand-2-line-height: normal;
    --brand-2-font-style: normal;
    --login-font-family: "Bogart Trial", Helvetica;
    --login-font-weight: 400;
    --login-font-size: 38px;
    --login-letter-spacing: 0px;
    --login-line-height: normal;
    --login-font-style: normal;
    --uspw-font-family: "Bogart Trial", Helvetica;
    --uspw-font-weight: 400;
    --uspw-font-size: 18px;
    --uspw-letter-spacing: 0px;
    --uspw-line-height: normal;
    --uspw-font-style: normal;
    --product-name-font-family: "Mogilte", Helvetica;
    --product-name-font-weight: 400;
    --product-name-font-size: 48px;
    --product-name-letter-spacing: 0px;
    --product-name-line-height: normal;
    --product-name-font-style: normal;
    --product-desc-font-family: "Bogart Trial", Helvetica;
    --product-desc-font-weight: 400;
    --product-desc-font-size: 24px;
    --product-desc-letter-spacing: 0px;
    --product-desc-line-height: normal;
    --product-desc-font-style: normal;
    --shadow-button: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    --variable-collection-add: 1px;
  }
  